/* lucky 3 */

#genthreeOne,
#genthree2,
#genthree3 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* lucky 4 */

#genfour1,
#genfour2,
#genfour3,
#genfour4 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* lucky 5 */

#genfive1,
#genfive2,
#genfive3,
#genfive4,
#genfive5 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* lucky 6 */

#gensix1,
#gensix2,
#gensix3,
#gensix4,
#gensix5 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* lucky 7 */

#genseven1,
#genseven2,
#genseven3,
#genseven4,
#genseven5 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* lucky 1 */

#genone1 {
    width: 40px;
    height: 35px;
    outline: 0;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}


/* btn*/

#genseven,
#genone,
#genthree,
#genfour,
#genfive,
#gensix {
    border: 0;
    border-radius: 25px;
    font-size: 10px;
    padding: 7px;
    /* margin-left: 55px; */
    letter-spacing: 2px;
    box-shadow: 2px 3px 7px 0px rgb(128, 128, 128);
}

footer.main-footer .copyrights {
    padding: 20px 0;
    background: #910a0a;
    color: #ccc;
    margin-top: 190px;
}

footer.main-footer .copyrights a {
    color: #da4d4d;
}

footer.main-footer .copyrights p {
    color: inherit;
    font-size: 0.8rem;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    footer.main-footer .photo-stream a {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 767px) {
    footer.main-footer .photo-stream li {
        width: 32%;
        margin-bottom: 10px;
    }
    footer.main-footer .photo-stream a {
        width: 100%;
        height: auto;
    }
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

h4 {
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}